@import "tailwindcss";

@theme {
  /* Primary Colors */
  --color-primary-purple: hsl(282, 83%, 52%); /* #AD1FEA */
  --color-primary-blue: hsl(230, 76%, 59%);   /* #4661E6 */

  /* Neutrals */
  --color-neutral-white: hsl(0, 0%, 100%);    /* #FFFFFF */
  --color-neutral-gray-100: hsl(230, 60%, 98%); /* #F2F4FF */
  --color-neutral-gray-200: hsl(231, 100%, 97%); /* #F7F8FD */
  --color-neutral-gray-300: hsl(231, 33%, 34%);  /* #3A4374 */
  --color-neutral-gray-400: hsl(224, 20%, 49%);  /* #647196 */
  --color-neutral-gray-500: hsl(230, 31%, 31%);  /* #373F68 */

  /* Status Colors */
  --color-accent-orange: hsl(14, 83%, 74%);   /* #F49F85 */
  --color-accent-lightblue: hsl(204, 94%, 68%); /* #62BCFA */
}
